header{
    height: 100px;
    width: 99%;
    color: white;
    background-color:  transparent;
    font-size: 40px;
    font-family: cursive;
    margin-top: -20px;
    border-top: 10px solid rgb(255, 225, 0);
}
body{   
    background-color: rgb(28, 82, 46);
    background-image: url(fundo.jpg);
    background-blend-mode: darken;
}
.fundo{
    opacity: 0.5;
}
.title1{
    height: 80px;
    width: 30%;
    text-align: center;
    background-color: white;
    color: rgb(28, 82, 46);
    margin-left: -20px;
    padding-top: 20px;
    border-bottom-right-radius: 100px;
    float: left;
}
.title2{
    height: 80px;
    width: 69%;
    background-color: transparent;
    text-align: center;
    margin-right: -20px;
    padding-top: 20px;
    float: right;
}
.projeto{
    background-color: white;
    margin-top: 5%;
    width: 60%;
    float: left;
    height: 450px;
    margin-left: 3%;
    border: double black 10px;
    font-size: 40px;
    overflow: hidden;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;

}
.informacoes {
    background-color: white;
    margin-top: 5%;
    width: 30%;
    float: left;
    height: 450px;
    margin-left: 3%;
    border: double black 10px;
    font-size: 40px;
    overflow: hidden;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
.projeto_titulo {
    background-image: url(fundo.jpg);
    background-color:rgb(28, 82, 46);
    background-blend-mode: darken;
    font-family: cursive;
    color: white;
    padding-left: 40%;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
.informacoes_titulo {
    background-image: url(fundo.jpg);
    background-color: rgb(28, 82, 46);
    background-blend-mode: darken;
    font-family: cursive;
    color: white;
    padding-left: 30%;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
}